<html>
    <head>
        <title>Do you have Diabetes?</title>
    </head>
    <body>
        <p>Do you have Diabetes?</p>
        <form>

            <label for="pregnant">Number of times pregnant</label><br>
            <input type="number" id="pregnant" name="pregnant" required><br>
            <label for="glucose">Plasma glucose concentration</label><br>
            <input type="number" id="glucose" name="glucose" required><br>
            <label for="bp">Diastolic blood pressure</label><br>
            <input type="number" id="bp" name="bp" required><br>
            <label for="skin">Triceps skin fold thickness (mm)</label><br>
            <input type="number" id="skin" name="skin" required><br>
            <label for="insulin">2-Hour serum insulin (mu U/ml)</label><br>
            <input type="number" id="insulin" name="insulin" required><br>
            <label for="bmi">Body mass index (weight in kg/(height in m)^2)</label><br>
            <input type="number" id="bmi" name="bmi" required><br>
            <label for="pedigree">Diabetes pedigree function</label><br>
            <input type="number" id="pedigree" name="pedigree" required><br>
            <label for="years">Age (years)</label><br>
            <input type="number" id="years" name="years" required><br>

            <input type="submit" value="Submit Info">

        </form>


    </body>
</html>
